.waveform-container {
    margin: 0 auto;
    max-width: 90vw;
}

.canvas-wrapper{
    overflow-x: auto;
    position: relative;
}

.waveform-wrapper{
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.waveform-canvas{
    border: 1px solid #ccc;
    display: block;
    position: relative;
    z-index: 1;
}