:root{
  --color-light: #b5e372;
  --color-medium: #7A9F43;
  --color-primary: #3E5A14;
  --color-dark: #2a3e0d;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

h1 {
  color: var(--color-dark)
}

/* all icons */
i.material-icons {
  font-size: 1.5em;
  color: var(--color-dark);
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  /* all icons */
  i.material-icons {
    font-size: 1.5em;
  }
}